@each $class, $color in $colors {
  // Backgound colors
  @if (type-of($color) == 'color'){
    .background-#{$class} { background: $color; }
    .background-#{$class}-10 { background: lighten($color, 10%); }
    .background-#{$class}-20 { background: lighten($color, 20%); }
    .background-#{$class}-30 { background: lighten($color, 30%); }

    // Fill colors (for SVG)
    .fill-#{$class} { fill: $color; }
    .fill-#{$class}-10 { fill: lighten($color, 10%); }
    .fill-#{$class}-20 { fill: lighten($color, 20%); }
    .fill-#{$class}-30 { fill: lighten($color, 30%); }

    // Border colors
    .border-#{$class} { border: 1px solid $color; }
    .border-#{$class}-10 { border: 1px solid lighten($color, 10%); }
    .border-#{$class}-20 { border: 1px solid lighten($color, 20%); }
    .border-#{$class}-30 { border: 1px solid lighten($color, 30%); }

    // Text Colors
    .color-#{$class} { color: $color; }
    .color-#{$class}-10 { color: lighten($color, 10%); }
    .color-#{$class}-20 { color: lighten($color, 20%); }
    .color-#{$class}-30 { color: lighten($color, 30%); }
  }
}
