.flex {
  display: flex;
  flex-direction: row;

  .box { flex: 0 1 auto; }
}

.inline-block { display: inline-block; }
.block { display: block; }

@each $space in $margin-and-padding-breaks {
  .u-m-#{$space} { margin: rem($space); }
  .u-mt-#{$space} { margin-top: rem($space); }
  .u-mb-#{$space} { margin-bottom: rem($space); }
  .u-ml-#{$space} { margin-left: rem($space); }
  .u-mr-#{$space} { margin-right: rem($space); }
  .u-p-#{$space} { padding: rem($space); }
  .u-pt-#{$space} { padding-top: rem($space); }
  .u-pb-#{$space} { padding-bottom: rem($space); }
  .u-pl-#{$space} { padding-left: rem($space); }
  .u-pr-#{$space} { padding-right: rem($space); }
}

.row {
  display: flex;
  flex-direction: row;

  .col { flex: 1 1 auto; }

  @for $i from 1 through $grid-columns {
    .col-#{$i} {
      width: percentage($i / $grid-columns);
    }
  }
}
