.display-flex {
  display: flex;
  flex-direction: row;
}

.display-inline-block { display: inline-block; }
.display-block { display: block; }

.display-row {
  display: flex;
  flex-direction: row;

  .display-col { flex: 1 1 auto; }

  @for $i from 1 through $grid-columns {
    .display-col-#{$i} {
      width: percentage($i / $grid-columns);
    }
  }
}
